{% extends "base.html" %}
{% load form_tags %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="card-title mb-3 text-center">Rejestracja</h4>

        <form method="post">
          {% csrf_token %}

          {% for field in form %}
            <div class="mb-3">
              <label class="form-label">{{ field.label }}</label>

              {{ field|add_class:"form-control" }}

              {% if field.errors %}
                <div class="invalid-feedback d-block">
                  {{ field.errors|striptags }}
                </div>
              {% endif %}
            </div>
          {% endfor %}

          <div class="d-grid">
            <button type="submit" class="btn btn-success">
              Utwórz konto
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
