{% extends "base.html" %}

{% block title %}Sale{% endblock %}

{% block content %}
<h1>Dostępne sale</h1>
<ul class="list group">
  <a href="{% url 'create_reservation' %}" class="btn btn-success mb-3">Nowa rezerwacja</a>
  {% for room in rooms %}
  <li class="list-group-item">
    <strong>{{ room.name }}</strong><br>
    <p>{{ room.description }}</p>
    <span class="badge bg-secondary">Cena {{ room.price }} PLN</span>
  </li>
  {% empty %}
  <li>Brak dostępnych sal.</li>
  {% endfor %}
</ul>
{% endblock %}
